<label class="floating-label text-left">
    <span>{{label()}}</span>
    <input class="input w-full" [type]="type()" [class.input-error]="control.invalid && control.touched"
        [class.input-success]="control.valid && control.touched" [formControl]="control" [placeholder]="label()">
    @if (control.hasError('required') && control.touched){
    <div class="validation-hint text-error text-xs">{{label()}} is required</div>
    }
    @if (control.hasError('email') && control.touched){
    <div class="validation-hint text-error text-xs">Invalid email address</div>
    }
    @if (control.hasError('emailTaken') && control.touched){
    <div class="validation-hint text-error text-xs">
        Email is already taken
    </div>
    }
    @if (control.hasError('minlength') && control.touched){
    <div class="validation-hint text-error text-xs">
        {{label()}} must be at least
        {{control.errors?.['minlength'].requiredLength}} characters
    </div>
    }
    @if (control.hasError('maxlength') && control.touched){
    <div class="validation-hint text-error text-xs">
        {{label()}} must be at most
        {{control.errors?.['maxlength'].requiredLength}} characters
    </div>
    }
    @if (control.hasError('passwordMismatch') && control.touched){
    <div class="validation-hint text-error text-xs">Passwords do not match</div>
    }
    @if (showStrength() && type() === 'password' && control.value?.length > 0) {
    <div class="mt-2">
        <div class="flex items-center justify-between text-xs">
            <span class="opacity-70">Password strength</span>

            <span class="font-semibold" [class.text-error]="passwordStrength.score <= 1"
                [class.text-warning]="passwordStrength.score === 2" [class.text-success]="passwordStrength.score >= 3">
                {{ passwordStrength.label }}
            </span>
        </div>

        <progress class="progress w-full mt-1" [class.progress-error]="passwordStrength.score <= 1"
            [class.progress-warning]="passwordStrength.score === 2"
            [class.progress-success]="passwordStrength.score >= 3" [value]="passwordStrength.percent"
            max="100"></progress>
    </div>
    }
</label>